<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="DialyRollingFile" fileName="logs/log.html"
                     append="true" filePattern="logs/log-%d{yyyy-MM-dd}" >
            <HTMLLayout>
            </HTMLLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="DialyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>